@import "../../app.scss";

.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg ,#0d0c36 , #20093b);
    overflow: hidden;
    position: relative;
    // opacity: 0;
    z-index: 1;


    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        
        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }
            
            img{
                width: 50px;
            }

            h1{
                font-size: 88px;

                @include mobile{
                    font-size: 36px;
                }
            }

            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;

                @include mobile{
                    font-size: 15px;
                }
            }

            .button {
                display: inline-block;
              }
              
              .button button {
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: 300;
              }
              
              .button button:hover {
                background-color: white;
                color: rebeccapurple;
                cursor: pointer;
              }
              
        }
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;

        @include mobile{
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include mobile{
                border: none;
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 30vh;
        bottom: 0; 
        left: 0; 
        white-space: nowrap;
        color: #ffffff1a; 
        z-index: 1; 
        width: 50%;
        font-weight: bold;

        @include mobile{
            position: absolute;
            border: none;
            width: 100%; // Ensure it takes the full width on mobile
            font-size: 20vh; // Adjust size for mobile if needed
            left: 0; 
        };
    }
    
}