@import "../../app.scss";

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 100px;

  @include mobile{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: start;
    padding: 30px;
    
  }

  .imageContainer {
    height: 250px;
    width: 600px;
    margin: 50px;
    margin-top: 0;
    margin-right: 0;
    background-color: transparent;
    border-radius: 500px;

    @include mobile{
     height: 180px;
     width: 180px;
     background-color: transparent;
     }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin: 30px;

    @include mobile{
     margin: 15px;
      
    }
  }

  hr {
    width: 23%;
    height: 3px;
    background-color: white;

    @include mobile{
      width: 36%;
      height: 2px;
     }
  }
  p {
    margin-top: 10px;
    text-align: start;
    color: gray;

    @include mobile{
     margin-top: 5px;
     width: 320px;
     }

    span {
      color: orange;
    }
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
    article:hover {
      color: orange;
    }

    @include mobile{
      font-size: 30px;
      }
  }

  h3 {
    font-size: 30px;
    display: flex;
    flex-direction: row;

    @include mobile{
      font-size: 20px;
      }

    article {
      margin-left: 7px;
      color: orange;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px;
    background-color: orange;
    color: #07072db1;
    height: 70px;
    width: 150px;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    @include mobile{
      margin-top: 10px;
      padding: 5px;
      height: 50px;
      width: 80px;
      font-size: 10px;
      border-radius: 20px;
      }
  }

  button:hover {
    color: #c1820d;
  }
}
